@charset "UTF-8";

:root {

}

header {
    background-color: #07294D;
    padding: 70px;
}

header > h1, h2 {
    color: white;
}

h2.topo {
    color: #A1A8AF;
    text-align: right;
    padding-right: 200px;
    margin-top: 0px;
    position: absolute;
    top: 5%;
    right: -10%;
}

nav#princ {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1360px;
    margin-left: -80px;
    text-align: left;
    position: absolute;
    top: 23.5vh;
}

nav > li {
    display: inline-block;
    color:#07294D;
    padding-right: 50px;
}

img {
    width: 100%;
    height: 700px;
    opacity: 0.9;
}

#principal > img {
    position: relative;
}

#principal > h1 {
    position: absolute;
    top: 80%;
    left: 30%;
}

#principal > p {
    position: absolute;
    top: 90%;
    left: 30%;
}

div#principal > nav.menusec {
    background-color: #07294D;
    color: white;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    position: absolute;
    top: 100vh;
    left: 30%;
    display: inline-block;
    border-radius: 20px;
}

nav.menusec > h2 {
    text-align: center;
}

nav.menusec > li {
    color: white;
    text-align: center;
}

div#vida {
    margin-top: 185px;
    text-align: justify;
}

div#estudos {
    margin-top: 30px;
    text-align: justify;
    background-color: #07294D;
    color: white;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    top: 85%;
    left: 35%;
    display: inline-block;
    border-radius: 20px;
}

div#legado {
    margin-top: 30px;
    text-align: justify;
}

div#obras {
    margin-top: 30px;
    text-align: justify;
    background-color: #07294D;
    color: white;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    top: 85%;
    left: 35%;
    border-radius: 20px;
}

div#obras > ul > li {
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    margin: 8px;
    border-radius: 10px;
    display: inline-block;
    background-color: white;
    color: #07294D;
    text-align: center;
}

div#obras > ul > li > img {
    max-width: 30%;
    height: auto;
}

#obras p {
    text-align: right;
}

#paginaobras > ul > li {
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 30px;
    margin: 6px;
    border-radius: 10px;
    display: inline-block;
    background-color: white;
    color: #07294D;
    text-align: center;
    border: 1px solid #07294D;
}

#paginaobras > ul > li > a > img {
    max-width: 35%;
    height: auto;
}

footer {
    background-color: #07294D;
    color: white;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
}
